
BEDROCK_HOST=
BEDROCK_USERNAME=

ADMIN_XUIDS=

LOG_PATH=logs/log.json
LOG_MAX_FILES=2
LOG_EXCLUDE_PACKETS=player_auth_input
LOG_INCLUDE_PACKETS=

OPENAI_API_KEY=

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
## Despite docs, us.cloud.langfuse.com doesn't seem to work
LANGFUSE_BASE_URL=https://cloud.langfuse.com
LANGFUSE_ENABLED=

